.toggle-switch{
  width: 56px;
  height: 28px;
  border: 2px solid gray;
  border-radius: 20px;  
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox{
opacity: 0;
visibility: hidden;
}

.toggle-switch__circle{
background-color: black;
width: 28px;
height: 28px;
position: absolute;
border-radius: 50%;
left: 0;
transition: all 0.2s;
}
.toggle-switch__text{
    position: absolute;
    color: gray;
    top: 5px;
    
}
.toggle-switch__text_F{
    left: 9px;
}
.toggle-switch__text_C{
    right: 9px;
}
.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
  color: white;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
.toggle-switch__checkbox:checked + .toggle-switch__circle {
  left: 28px;
}