.profile {
  padding: 0 20px;
}

.profile__content {
  display: flex;
  gap: 116px;
  max-width: 1360px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .profile__content {
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .profile__content {
    flex-direction: column;
    gap: 40px;
  }
}