/* src/components/ItemCard/ItemCard.css */
.card {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 325px; 
    margin: 0 auto;
}

.card__name {
    position: absolute;
    top: 15px;
    margin: 0;
    background: #FFFFFF;
    padding: 4px 10px;
    border-radius: 4px;
    z-index: 1;
    font-size: 16px;
}

.card__image {
    width: 325px;
    height: 328px; 
    object-fit: cover; 
    border: 2px solid #0000004D;
    border-radius: 50px;
    cursor: pointer;
}

.card__like-button {
  position: absolute;
  top: 20px;
  left: auto;
  right: 95px; 
  background: none; 
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  z-index: 2;
}

.card__like-button:hover {
  transform: scale(1.1);
}

.card__heart-icon {
  width: 18px;
  height: 15px;
}