.Weather-Card{
    position: relative;
    display: flex;
    height: 80px;
    border: 12px;

}
.Weather-Card__temp{
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 56px;
}
.Weather-Card__image{
    object-fit: cover;
    object-position: right top;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}