.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px; 
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center; 
}

.cards__text {
  font-size: 20px;
  margin-left: 56px; 
  margin-top: 40px; 
  margin-bottom: 32px; 
  color: #333;
  line-height: 24px; 
}

.cards-container {
  display: flex;
  width: 100%;
  justify-content: center; 
}
